In [6]:
import pandas as pd 

data = pd.read_excel('./2020 빅콘테스트 데이터분석분야-챔피언리그_시청률 데이터.xlsx')
data = data.rename(columns=data.iloc[0])
data = data.drop(data.index[0])
data = data.set_index('시간대')

data.head()

,2019-01-01,2019-01-02,2019-01-03,2019-01-04,2019-01-05,2019-01-06,2019-01-07,2019-01-08,2019-01-09,2019-01-10,...,2019-12-23,2019-12-24,2019-12-25,2019-12-26,2019-12-27,2019-12-28,2019-12-29,2019-12-30,2019-12-31,2019-01-01 to 2019-12-31
시간대,,,,,,,,,,,,,,,,,,,,,
02:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.003
02:01,0,0,0,0,0,0,0,0,0,0.005,...,0,0,0,0,0,0,0,0,0.012,0.003
02:02,0,0,0,0,0,0,0,0,0,0.005,...,0,0,0,0,0,0,0,0,0,0.004
02:03,0,0,0.014,0,0,0,0,0,0,0.005,...,0,0,0.017,0,0,0,0,0,0,0.004
02:04,0,0,0,0,0,0,0,0,0,0.005,...,0,0,0.017,0,0,0,0,0,0,0.004

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1441 entries, 02:00 to 월화수목금토일02:00-01:59
Columns: 366 entries, 2019-01-01 to 2019-01-01 to 2019-12-31
dtypes: object(366)
memory usage: 4.0+ MB

In [8]:
from pandas import Series, DataFrame

# 날짜별 평균 시청률 중 최대시청률
data1 = data.iloc[-1].max()
data1

0.015

In [9]:
# 시청률 높은 날짜
data = data.astype('float')
data2 = data.iloc[-1]
data2 = DataFrame(data2)
data2 = data2.drop(data2.index[-1])
data2 = data2.sort_values(by=['월화수목금토일02:00-01:59'], ascending=False)
data2.head(10)

            월화수목금토일02:00-01:59
2019-08-11               0.015
2019-12-20               0.014
2019-09-26               0.013
2019-11-09               0.013
2019-10-19               0.012
2019-07-26               0.011
2019-09-30               0.011
2019-08-23               0.011
2019-11-15               0.011
2019-09-17               0.010

In [10]:
# 시청률 높은 시간대
data3 = data.pivot_table(index = ['시간대'], values = ['2019-01-01 to 2019-12-31'])
data3 = data3.sort_values(by=['2019-01-01 to 2019-12-31'], ascending=False)
data3.head(10)

       2019-01-01 to 2019-12-31
시간대
14:27                     0.008
14:17                     0.008
14:26                     0.008
11:20                     0.008
11:19                     0.008
15:08                     0.008
15:10                     0.008
15:11                     0.008
15:37                     0.007
15:35                     0.007

In [11]:
import numpy as np

data = data.drop(data.index[-1])
data = data.drop(data.columns[-1], axis=1)
data['시간'] = pd.date_range('2019-01-01 02:00', '2019-01-02 01:59', freq='1min')
data = data.set_index('시간')

data.head()

,2019-01-01,2019-01-02,2019-01-03,2019-01-04,2019-01-05,2019-01-06,2019-01-07,2019-01-08,2019-01-09,2019-01-10,...,2019-12-22,2019-12-23,2019-12-24,2019-12-25,2019-12-26,2019-12-27,2019-12-28,2019-12-29,2019-12-30,2019-12-31
시간,,,,,,,,,,,,,,,,,,,,,
2019-01-01 02:00:00,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.000
2019-01-01 02:01:00,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.005,...,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.012
2019-01-01 02:02:00,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.005,...,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.000
2019-01-01 02:03:00,0.0,0.0,0.014,0.0,0.0,0.0,0.0,0.0,0.0,0.005,...,0.0,0.0,0.0,0.017,0.0,0.0,0.0,0.0,0.0,0.000
2019-01-01 02:04:00,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.005,...,0.0,0.0,0.0,0.017,0.0,0.0,0.0,0.0,0.0,0.000

In [12]:
# 20분 단위 시청률 평균
data = data.resample('20T').mean()
data.head()

,2019-01-01,2019-01-02,2019-01-03,2019-01-04,2019-01-05,2019-01-06,2019-01-07,2019-01-08,2019-01-09,2019-01-10,...,2019-12-22,2019-12-23,2019-12-24,2019-12-25,2019-12-26,2019-12-27,2019-12-28,2019-12-29,2019-12-30,2019-12-31
시간,,,,,,,,,,,,,,,,,,,,,
2019-01-01 02:00:00,0.0007,0.0,0.00070,0.00140,0.0,0.0,0.0,0.0000,0.0,0.00385,...,0.0000,0.0000,0.0017,0.0136,0.0,0.0006,0.0,0.0000,0.0000,0.00060
2019-01-01 02:20:00,0.0000,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0000,0.0,0.00000,...,0.0000,0.0000,0.0000,0.0000,0.0,0.0000,0.0,0.0027,0.0000,0.00000
2019-01-01 02:40:00,0.0000,0.0,0.00065,0.00205,0.0,0.0,0.0,0.0037,0.0,0.00000,...,0.0008,0.0000,0.0000,0.0000,0.0,0.0000,0.0,0.0000,0.0000,0.00525
2019-01-01 03:00:00,0.0000,0.0,0.00000,0.00280,0.0,0.0,0.0,0.0000,0.0,0.00000,...,0.0000,0.0055,0.0000,0.0000,0.0,0.0000,0.0,0.0000,0.0009,0.00030
2019-01-01 03:20:00,0.0000,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0000,0.0,0.00000,...,0.0000,0.0080,0.0000,0.0000,0.0,0.0000,0.0,0.0000,0.0048,0.00000

In [13]:
# 열을 행으로 변환
data=data.stack()     
data=data.reset_index()
data.columns = ['시간', '방송날짜', '시청률']

data.head()

                   시간        방송날짜     시청률
0 2019-01-01 02:00:00  2019-01-01  0.0007
1 2019-01-01 02:00:00  2019-01-02  0.0000
2 2019-01-01 02:00:00  2019-01-03  0.0007
3 2019-01-01 02:00:00  2019-01-04  0.0014
4 2019-01-01 02:00:00  2019-01-05  0.0000

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26280 entries, 0 to 26279
Data columns (total 3 columns):
시간      26280 non-null datetime64[ns]
방송날짜    26280 non-null object
시청률     26280 non-null float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 616.0+ KB

In [15]:
# 방송날짜 특수문자 제거 & 시간 컬럼 datetime -> str
data = data.astype({'시간': 'str'})
data = data.replace('-','',regex=True)#.astype({'시간': 'str'})
data.head()

                  시간      방송날짜     시청률
0  20190101 02:00:00  20190101  0.0007
1  20190101 02:00:00  20190102  0.0000
2  20190101 02:00:00  20190103  0.0007
3  20190101 02:00:00  20190104  0.0014
4  20190101 02:00:00  20190105  0.0000

In [16]:
data['날짜'] = data.시간.str.split(' ').str[0]
data['방송시간'] = data.시간.str.split(' ').str[1]

data.head()

                  시간      방송날짜     시청률        날짜      방송시간
0  20190101 02:00:00  20190101  0.0007  20190101  02:00:00
1  20190101 02:00:00  20190102  0.0000  20190101  02:00:00
2  20190101 02:00:00  20190103  0.0007  20190101  02:00:00
3  20190101 02:00:00  20190104  0.0014  20190101  02:00:00
4  20190101 02:00:00  20190105  0.0000  20190101  02:00:00

In [17]:
del data['날짜']
del data['시간']
new_columns = ['방송날짜',  '방송시간', '시청률']
data = data[ new_columns ]

data.head()

       방송날짜      방송시간     시청률
0  20190101  02:00:00  0.0007
1  20190102  02:00:00  0.0000
2  20190103  02:00:00  0.0007
3  20190104  02:00:00  0.0014
4  20190105  02:00:00  0.0000

In [18]:
data.isnull().sum()

방송날짜    0
방송시간    0
시청률     0
dtype: int64

In [19]:
# 전처리 데이터 엑셀로 저장
data.to_excel('./시청률 전처리.xlsx', index = False)